.btn {
  position: absolute;
  top: 0;
  right: 2px;
  width: fit-content;
  height: fit-content;
  display: inline-grid;
  place-items: start center;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgba(200, 197, 197, 0);
  --frame-fill: rgba(121, 121, 121, 0.324);

  transition: color 0.15s ease;
}

.btn:hover {
  color: rgba(120, 120, 120, 0);
  --frame-fill: rgba(121, 121, 121, 0.607);
}

.frame {
  display: block;
  width: 80px;
  height: auto;
}

.heart {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  width: 34px;
  height: 34px;
  pointer-events: none;
  color: #fff;
}
