.page {
  background: #5115ca;
  min-height: 100vh;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.gridBlock {
  width: fit-content;
  margin: 0 auto;
}

.text {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0;
}

.spinner {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 6px;

  border: 2px solid rgba(0, 0, 0, 0.2);
  border-top-color: #5115ca;
  border-radius: 50%;

  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
