.btn {
  all: unset;
  width: 40px;
  height: 40px;

  display: grid;
  place-items: center;

  cursor: pointer;

  color: rgba(255, 255, 255, 0.85);
  transition: color 120ms ease, transform 120ms ease;
}

.btn:hover {
  color: #f4d20b;
}

.btn:active {
  transform: scale(0.96);
}

.btn svg {
  width: 30px;
  height: 30px;
  display: block;
}
