.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: transparent;
  border-bottom: 2px solid #440eaf;
}

.iconBtn {
  width: 54px;
  height: 54px;

  border: 0;
  background: transparent;
  color: rgba(255, 255, 255, 0.9);

  display: grid;
  place-items: center;
  cursor: pointer;

  &:hover {
    color: #fff;
  }

  &:active {
    transform: scale(0.98);
  }
}

.iconSvg {
  width: 26px;
  height: 26px;
  display: block;
}

.input {
  flex: 1;
  height: 54px;

  border: 0;
  outline: none;
  background: transparent;

  color: #fff;
  font-size: 20px;
  font-weight: 500;

  padding: 0 8px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
