.search {
  --control-h: 60px;
  --icon-w: 60px;

  position: relative;
  width: 100%;
  max-width: 600px;

  display: flex;
  align-items: center;

  background: #5115ca;
  border: 2px solid #dbe1e9;
  border-radius: 0;
  overflow: hidden;
  transition: border-color 120ms ease, box-shadow 120ms ease;
}

.fullWidth {
  max-width: none;
}

.fullHeight {
  height: 100%;
  --control-h: 100%;
  --icon-w: 54px;
}

.search:focus-within {
  border-color: #ffffff;
  box-shadow: 0 0 0 3px rgba(56, 189, 248, 0.18);
}

.iconLeft {
  width: var(--icon-w);
  height: var(--control-h);
  display: grid;
  place-items: center;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.899);
  pointer-events: none;
}

.iconSvg {
  width: 28px;
  height: 28px;
}

.input {
  flex: 1;
  height: var(--control-h);
  border: 0;
  outline: none;
  min-width: 0;

  background: transparent;
  color: #fff;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  padding: 0 44px 0 0;

  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;

  &::placeholder {
    color: #94a3b8;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.clearBtn {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);

  width: 40px;
  height: 40px;

  border-radius: 0;
  border: 0;
  background: transparent;

  color: rgba(233, 225, 225, 0.75);

  display: grid;
  place-items: center;

  cursor: pointer;
  transition: color 120ms ease;

  &:hover {
    color: #fff;
  }

  &:active {
    transform: translateY(-50%) scale(0.96);
  }
}

.clearIcon {
  width: 30px;
  height: 30px;
  display: block;
}
