.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 64px;
  padding: 0 24px;

  background-color: #0f172a;
}

.logo {
  display: flex;
  align-items: center;

  img {
    height: 100px;
    width: auto;
  }
}

.nav {
  display: flex;
  gap: 16px;

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
