.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  height: 64px;
  padding: 0 24px;
  background: #5115ca;
}

.logo {
  display: flex;
  align-items: center;

  img {
    height: 80px;
  }
}

.nav {
  display: flex;
  gap: 16px;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.region {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 6px 10px;
  border-radius: 8px;

  background-color: transparent;
  border: 1px solid #334155;
  cursor: pointer;

  color: #fff;

  &:hover {
    background-color: #020617;
  }
}

.region_icon {
  font-size: 20px;
  line-height: 1;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.language {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.1;
}

.currency {
  font-size: 11px;
  color: #94a3b8;
  line-height: 1.1;
}
