.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  height: 64px;
  padding: 0 24px;
  background-color: #0f172a;
}

.logo {
  display: flex;
  align-items: center;

  img {
    height: 80px;
  }
}

.search {
  position: relative;
  max-width: 420px;
  margin: 0 auto;
  width: 100%;

  input {
    width: 100%;
    max-width: 400px;
    padding: 8px 12px;

    background-color: #020617;
    border: 1px solid #334155;
    border-radius: 6px;

    color: #fff;

    &::placeholder {
      color: #94a3b8;
    }

    &:focus {
      outline: none;
      border-color: #38bdf8;
    }
  }

  button {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);

    background: none;
    border: none;
    cursor: pointer;

    font-size: 16px;
    color: #94a3b8;

    &:hover {
      color: #38bdf8;
    }
  }
}

.nav {
  display: flex;
  gap: 16px;

  a {
    color: #fff;
    text-decoration: none;
  }
}
