.header {
  height: 108px;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #5115ca;
}

.left {
  display: flex;
  align-items: center;
  gap: 0px;
  min-width: 0;
}

.right {
  display: flex;
  align-items: center;
  gap: 1px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  img {
    height: 70px;
    display: block;
  }
}

.searchWrap {
  width: min(600px, 42vw);
  min-width: 240px;
}

.regionWrap {
  display: flex;
  align-items: center;
}
