.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, minmax(180px, 223px));
  justify-content: center;
  justify-items: start;
}

@media (max-width: 980px) {
  .grid {
    grid-template-columns: repeat(3, minmax(180px, 223px));
  }
}

@media (max-width: 720px) {
  .grid {
    grid-template-columns: repeat(2, minmax(180px, 223px));
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, minmax(180px, 223px));
  }
}
