.btn {
  width: 31px;
  height: 31px;

  margin-left: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  overflow: hidden;

  background-color: #4c2bbd;
  border: 1px solid rgba(255, 255, 255, 0.55);

  padding: 0;
  cursor: pointer;

  transition: background-color 150ms ease, border-color 150ms ease,
    transform 120ms ease;

  &:hover {
    background-color: #5a36d6;
    border-color: #ffffff;
  }

  &:active {
    transform: scale(0.96);
  }
}

.icon {
  width: 26px;
  height: 26px;
  display: block;
}
